**/__pycache__/
.ipynb_checkpoints
.DS_Store
.vscode

src/results/
src/get_results.ipynb
jobs/
src/move_data.py
src/logs/
src/interpretability/output_high_risk/
src/interpretability/output_low_risk/
src/interpretability/output_case/
src/interpretability/pt_samples/
src/interpretability/wsi_representations_vis/

src/KM_curves/

src/data/data_files/*/rna/
src/data/data_files/*/wsi/
src/data/data_files/*/splits/*/rna_data_scaler_fold_*.pkl
src/data/data_files/*/splits/*/prototype*/
src/data/data_files/*/splits/*/embeddings*/
src/data/data_files/*/splits/*/train_filtered_oversampled*
src/data/data_files/*/splits/*/train_filtered_undersampled*
src/data/data_files/tcga_brca2